
.disk {
    position: fixed;
    top: 40%;
    left: 43%;
    z-index: 100;
    animation: down 5s linear infinite;
}


@keyframes down {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1279px) and (min-width: 1110px) {
    .disk {
        left: 44%;
    }
}
