.toast__block {
  animation: card 8s ease-out;
}

.toast__none {
  transition: 2s ease-in;
  transform: translateX(100vw);
  opacity: 0;
}

@keyframes card {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  10% {
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  65% {
    transform: translateX(0);
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
