.home-bg {
    min-height: 100vh;
    background: url("../../assets/img/playlist.png") center/cover no-repeat;
    object-fit: cover;
}

.btn {
    cursor: pointer;
    background-color: #000;
    border: 1px #ffffff solid;
    color: #fff;
    border-radius: 10px;
    display: block;
    padding-left: 35px;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    transform-origin: center left;
    transition: color 0.3s ease;
    position: relative;
    z-index: 20;
    outline: none;

}

.btn em {
    border-radius: 10px;
    position: absolute;
    height: 2px;
    background: #49DEFF;
    width: 70%;
    right: -25px;
    top: 50%;
    transform: scaleX(.25);
    transform-origin: center right;
    transition: all 0.3s ease;
    z-index: 1;
}

.btn:before {
    content: "";
    background: #fff;
    height: 55%;
    color: #0F0F0F;
    width: 0;
    position: absolute;
    z-index: -1;
    border-radius: 5px 5px 0 0 /5px 5px;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn:after {
    content: "";
    background: #fff;
    height: 55%;
    color: #0F0F0F;
    width: 0;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 5px 5px / 0 0 5px 5px;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn:before {
    top: 0;
    left: 0;
    right: auto;
}

.btn:after {
    bottom: 0;
    right: 0;
    left: auto;
}

.btn:hover:before {
    width: 100%;
    right: 0;
    left: auto;
}

.btn:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.btn:hover {
    color: #0F0F0F;
    z-index: 50;
}

.btn:hover em {
    background: #49DEFF;
    margin: 0 40px 0 0;
    transform: scaleX(1);
    z-index: -1;
}

.em {
    opacity: 0;
}

.btn:hover .em {
    color: black;
    opacity: 1;
    font-size: 20px;
}