.avatar-text {
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  padding: 2px 18.2px;
  background: #646464;
  border-radius: 4px;
  display: none;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 60px;
}

.hover-menu {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.hover-menu:hover .avatar-text{
  text-align: center;
  display: block;
}


