.slick-next {
    display: block;
}

.basket {
    backdrop-filter: blur(13px);
    background-color: rgba(168, 168, 168, 0.31);
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px 10px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#right {
    top: 5px;
    left: 120%;
}

.hover-text {
    position: relative;
    display: inline-block;
    text-align: center;
}